<form method="POST" action="/admin/login">
	<h3>Username</h3>
	<input type="text" name="username">
	<h3>Password</h3>
	<input type="password" name="pass">
	<br>
	<button type="submit">login</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect();
  socket.on('news', function (data) {
    console.log(data);
  });
</script>